html,
body {
  background-color: $color-bg;
  width: 100%;
  min-width: 100%;
}

$array: (0, 1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9);

$app-height: calc(100vh - 4rem);

$footer-height: 2.5rem;
$footer-margin: 1.5rem;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: $app-height;
}

.icon {
  &.is-small {
    transform: scale(0.75);
  }

  &.is-medium {
    transform: scale(1.25);
  }

  &.is-large {
    transform: scale(1.5);
  }
}

#footer {
  @extend .is-flex;
  @extend .is-flex.is-center;
  @extend .v-align-center;

  .icon {
    width: 2.75rem;
  }

  margin-top: $footer-margin;
  min-height: $footer-height;
  background-color: $black;
}

@each $point in $array {
  .z-index-#{$point} {
    z-index: $point;
  }

  .p-#{$point} {
    padding: $point * 0.25rem;
  }

  .m-#{$point} {
    margin: $point * 0.25rem;
  }
}

.color-alpha {
  opacity: 0.66;
}

.pad {
  padding: 0.33rem 0.5rem;
}

.v-align-center {
  vertical-align: middle;
}

.navbar {
  .navbar-item {
    padding: 0.5rem 0;
  }

  &__title {
    max-width: 70vw;
    max-height: 2.25rem;
    overflow: hidden;
  }
}

.animate {
  transition: $speed-slow;
}

.columns {
  margin-left: 0;
  margin-right: 0;
}

.columns.is-vtop {
  align-items: flex-start;
}

.columns.is-vbottom {
  align-items: flex-end;
}

.is-radius {
  border-radius: $radius;
}

.is-flex {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.start { align-items: flex-start; }
  &.end { align-items: flex-end; }
  &.is-center { justify-content: center; }
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.select-bar {
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;

  button {
    outline: none;
    border: none;
    border-radius: 0;
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    text-transform: uppercase;
    transition: $speed-slower;

    &.extra-pad {
      padding-left: 1.3rem;
    }

    .tri {
      position: absolute;
      z-index: -1;
      right: -0.35rem;
      transition: $speed-slower;
    }

    span {
      transform: scale(1.05) translateX(0.23rem);
    }
  }

  button {
    background-color: $light;
    .tri { fill: $light; }
  }

  button.is-primary {
    background-color: $primary;
    .tri { fill: $primary; }
  }

  button[disabled] {
    opacity: 1;
    background-color: $grey-light;
    .tri { fill: $grey-light; }
  }
}

.row {
  &__item {}

  &.is-active & {
    &__item {
      border: 1px solid $light;
    }
  }

  .word-break {
    word-break: break-word;
  }

  &__content {
    &-pre {
      padding-top: 0.4rem;
    }

    &-button,
    &-progress {
      margin: 0;
      padding: 0;
      padding-top: 0.35rem;
      min-width: 2.7rem;
    }

    &-button {
      min-width: 1.5rem;
      border-color: transparent;
      background-color: transparent;

      svg {
        transition: $speed-slow;
      }
    }

    &-progress {
      padding-left: 0.25rem;
    }

    &-input {
      border-color: transparent;
      background-color: transparent;

      &.textarea {
        min-height: 1rem;
        height: min-content;
      }
    }
  }
}
