html,
body {
  background-color: $color-bg;
  width: 100%;
  min-width: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-alpha {
  opacity: 0.66;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.pad {
  padding: 0.33rem 0.5rem;
}

.v-align-center {
  vertical-align: middle;
}

.icon {
  &.is-small {
    transform: scale(0.75);
  }

  &.is-medium {
    transform: scale(1.25);
  }

  &.is-large {
    transform: scale(1.5);
  }
}

.animate {
  transition: $speed-slow;
}

.columns {
  margin-left: 0;
  margin-right: 0;
}

.columns.is-vtop {
  align-items: flex-start;
}

.columns.is-vbottom {
  align-items: flex-end;
}

.is-radius {
  border-radius: $radius;
}

.is-flex {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.start { align-items: flex-start; }
  &.end { align-items: flex-end; }
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.select-bar {
  margin-bottom: 0.3rem;

  button {
    transition: $speed-slower;
    padding: 0.1rem 0.3rem;
    margin: 0.3rem;
    font-weight: bolder;
    text-transform: uppercase;

    span {
      transform: scale(1.05);
    }
  }
}

.row {
  &.is-active & {
    &__item {
      border: 1px solid $light;
    }
  }

  .word-break {
    word-break: break-word;
  }

  &__content {
    &-button,
    &-progress {
      margin: 0;
      padding: 0;
      min-width: 2.7rem;
    }

    &-button {
      min-width: 1.5rem;
      border-color: transparent;
      background-color: transparent;

      svg {
        transition: $speed-slow;
      }
    }

    &-progress {
      padding-left: 0.25rem;
      padding-top: 0.35rem;
    }

    &-input {
      border-color: transparent;
      background-color: transparent;

      &.textarea {
        min-height: 1rem;
        height: min-content;
      }
    }
  }
}
