// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #8c67ef;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

$color-alpha: 0.3;
$color-grey: rgb(118, 130, 130);
$color-bg: rgb(33, 62, 69);
$color-shadow: rgb(54, 56, 46);
//$color-mid: rgb(88, 110, 99);
$color-mid: rgb(80, 107, 115);
$color-mid-waiting: rgb(134, 143, 107);
$color-waiting: rgb(189, 173, 99);
$color-success: rgb(154, 212, 125);
$color-error: rgb(212, 151, 125);
$color-fore: rgb(234, 233, 218);
$color-select: rgb(9, 161, 131);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "style.scss";
