$side: 2px;

.select-bar {
  padding: 0 0.5rem;
  margin-left: 0.3rem;
  margin-bottom: 0.5rem;
  border-radius: $radius;
  background-color: $color-mid;
  position: relative;
  overflow: hidden;

  &.home { padding: 0.2rem; }

  &-info {
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
    opacity: 0.75;
    color: $color-fore;
  }

  &-highlight {
    position: absolute;
    top: $side;
    bottom: $side;
    left: $side;
    width: 100%;
    z-index: 0;
    border-radius: $radius;
    background-color: $primary;
    transition: $speed;
  }

  button {
    outline: none;
    border: none;
    position: relative;
    z-index: 10;
    background-color: transparent;
    font-weight: bolder;
    text-transform: uppercase;
    transition: inherit;
    color: $light;

    span {
      transition: inherit;
      transform: scale(1.05);
    }
  }

  button.is-primary {
    pointer-events: none;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
      color: $light;
      background-color: transparent;
    }

    span {
      transform: scale(1.15);
    }
  }

  button[disabled] {
    background-color: transparent;

    &:hover {
      color: $light;
    }
  }
}
