# NODE_ENV="production"
# set node env to production on live server, development otherwise

WEB_NAME="MiniTask"
WEB_ADDRESS="https://url-of-app-here"

IP="127.0.0.1"
PORT="8600"

RATE_LIMIT_MAX="1250"

DATABASE_URL="localhost"
DATABASE_PORT="3306"
DATABASE_USER="YourUserNameForMysqlHere"
DATABASE_PASS="BigPasswordHereForDB"
DATABASE_NAME="DB_NAME_HERE"

SALT_ROUNDS="10"
HASH_SECRET="SUPERSECRET"

TOKEN_EXPIRE="604800"
TOKEN_SECRET="ANOTHERSECRET"

MAIL_ACTIVE="true"
MAIL_HOST="location.mailgun.net"
MAIL_DOMAIN="mail.your-web-domain.com"
MAIL_API="key-SUPER_SECRET_KEY_AGAIN"


