NODE_ENV="development"
# rename this file in order to use as "vars.env"
# set node env to production on live server, development otherwise

IP="127.0.0.1"
PORT="8600"
## misc

DATABASE_URL="localhost"
DATABASE_PORT="3306"
DATABASE_USER="root"
DATABASE_PASS="SUPERHARDPASSHERE"
DATABASE_NAME="DATABASENAMEHERE"
## misc

SALT_ROUNDS="10"
HASH_SECRET="ThisIsA4UnkyHashAdded"

TOKEN_EXPIRE="604800"
TOKEN_SECRET="SuperSecr£tThinGHere"

MAIL_ACTIVE="false"
MAIL_HOST="api.eu.mailgun.net"
MAIL_DOMAIN="MAIL DOMAIN HERE"
MAIL_API="API SECURITY KEY HERE"
