.card {
  overflow: hidden;
  position: relative;
  background-color: $color-mid;
  border-radius: $border-radius;
}

.card,
.container {
  max-width: 95vw;
  width: $unit-default * 40;
  min-height: $unit-default * 5;
  margin: $unit-default auto;
  padding: $unit-default * 0.5;

  @include screen-md {
    width: $unit-default * 25;
  }
  @include screen-lg {
    width: $unit-default * 25;
  }

  &__footer {
    margin-top: $margin-default;
  }

  @each $size, $value in $max-sizes {
    &.#{$size} {
      width: $value;
    }
  }
}
