.card {
  overflow: hidden;
  position: relative;
  background-color: $color-mid;
  border-radius: $border-radius;

  &:first-of-type {
    margin-top: $margin-default;
  }
}

.card,
.container {
  margin: $unit-default * 1.5 auto;
  padding: $unit-default * 0.5;
  min-height: $unit-default * 2;
  max-width: map-get($all-screen-sizes, xs);

  @include screen-sm {
    max-width: map-get($all-screen-sizes, sm);
  }
  @include screen-md {
    max-width: map-get($all-screen-sizes, md);
  }
  @include screen-lg {
    max-width: map-get($all-screen-sizes, lg);
  }
  @include screen-xl {
    max-width: map-get($all-screen-sizes, xl);
  }
  @include screen-xxl {
    max-width: map-get($all-screen-sizes, xxl);
  }
  @include screen-xxxl {
    max-width: map-get($all-screen-sizes, xxxl);
  }

  &__footer {
    margin-top: $margin-default;
  }

  @each $size, $value in $max-sizes {
    &.#{$size} {
      max-width: $value;
    }
  }
}
