a {
  &:focus {
    color: $color-select;
    -webkit-text-fill-color: $color-select;

    p {
      color: $color-select;
      -webkit-text-fill-color: $color-select;
    }
  }

  &.DISABLED {
    opacity: $color-alpha;
    pointer-events: none;
  }
}

label {
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: $unit-default;
    height: $unit-default;
  }

  input[type="checkbox"]:focus + .control {
    outline-offset: -1px;
    outline: 2px solid $color-select-outline;
  }

  // hide any attached label span text
  span {
    display: none;
  }

  &.show-label {
    span {
      display: inline-block;
    }
  }
}

// INPUTS && CONTROLS TO BE SEPARATED //

input,
button {
  fill: $color-fore;
  color: $color-fore;
  -webkit-text-fill-color: $color-fore;

  &:focus {
    outline-style: solid;
    outline-width: $border-size;
    outline-color: $color-select-outline;
  }

  &.DISABLED {
    pointer-events: none;

    &:focus {
      outline: none;
    }
  }
}

input {
  height: $unit-default * 1.4;
  min-width: $unit-default * 2;
  background-color: transparent;
  border-style: solid;
  border-color: $color-fore;
  border-spacing: $border-size;
  transition: $transition-default;
  margin: $margin-default * 0.5 $margin-default;
  padding: $padding-default * 0.5 $padding-default;

  &::placeholder {
    opacity: $color-alpha;
  }

  $smaller-screen-bar: $unit-default * 2.5;
  @include screen-xs {
    height: $smaller-screen-bar;
  }

  @include screen-sm {
    height: $smaller-screen-bar;
  }

  @include screen-md {
    height: $smaller-screen-bar;
  }

  @each $status, $value in $all-status-border-colours {
    &.#{to-upper-case($status)} {
      border-color: $value;
    }
  }
}

button {
  text-align: center;
  color: $color-shadow;
  -webkit-text-fill-color: $color-shadow;
  font-size: $font-size;
  vertical-align: middle;
  border-radius: $border-radius;
  transition: $transition-default;
  padding: $padding-default * 0.1;
  margin: $margin-default * 0.25 $margin-default;
  border-style: solid;
  border-color: transparent;
  border-spacing: $border-size;

  p,
  span {
    color: inherit;
    -webkit-text-fill-color: inherit;
    font-weight: bolder;
    min-width: $unit-default * 4;
  }

  &:hover {
    transform: scale($hover-scale);
  }

  outline-offset: $border-size * 0.5;

  &:focus {
    outline: none;
    border-color: $color-fore;
    //outline-width: $border-size * 1.5;
  }

  @each $size, $value in $all-font-sizes {
    &.#{$size} {
      font-size: $value;
    }
  }

  @each $status, $value in $all-status-border-colours {
    &.#{to-upper-case($status)} {
      @if $status == disabled {
        opacity: $color-alpha;
      } else {
        svg {
          fill: $value;
        }
      }
    }
  }
}

.input-control {
  label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;

    p,
    button {
      flex-grow: 0;
      min-width: $unit-default * 5;
    }

    input {
      flex-grow: 10;
      max-height: $unit-default * 1.75;
    }

    @mixin small-input {
      p,
      input,
      button {
        flex-grow: 10;
        margin: 0;
        margin-bottom: $margin-default;
      }
    }

    @include screen-xs {
      @include small-input;
    }
    @include screen-sm {
      @include small-input;
    }
    @include screen-md {
      @include small-input;
    }
  }
}
