.task__project__header {
  max-width: 100%;
  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-name {
      font-size: $font-size-lg;
      @include overflow-text-hide;

      @mixin small-size {
        font-size: $font-size-md * 1.15;
      }

      @include screen-xs {
        @include small-size;
        flex: auto;
      }
      @include screen-sm {
        @include small-size;
        flex: auto;
      }
      @include screen-md {
        flex: auto;
      }
      @include screen-lg {
        flex: auto;
      }
    }

    &-count {
      min-width: 5rem;
      word-break: keep-all;
      text-align: right;
      font-size: $font-size-md;
      margin: $margin-default * 0.5 0;
      padding-left: $padding-default;

      @mixin small-size {
        font-size: $font-size;
      }

      @include screen-xs {
        @include small-size;
      }
      @include screen-sm {
        @include small-size;
      }
    }
  }

  &__user {
    margin-left: auto;
    text-decoration: none;

    &.DISABLED {
      pointer-events: none;
    }

    &-name {
      @include overflow-text-hide;

      margin-right: $margin-default;
      max-width: $unit-default * 5;
    }

    &-icon {
      fill: $color-fore;
      margin: $margin-default 0;
      width: $unit-default * 2;

      &.DISABLED {
        fill: $color-grey;
      }
    }
  }

  &__controls {
    &__switch {
      &-tasks,
      &-projects {
        position: relative;
        transform-origin: center;
        z-index: 0;
        margin: $margin-default 0;
        padding: $padding-default;
        text-transform: uppercase;
        color: $color-bg;
        background-color: $color-mid;
        border-radius: $border-radius;
        border: $border-size solid $color-bg;
        transition: $transition-default * 0.5;

        &.ACTIVE {
          z-index: 1;
          outline: none;
          transform: scaleY(1.1);
          background-color: $color-success;
          border: $border-size solid $color-success;
        }

        &.DISABLED {
          opacity: 1;
          color: $color-bg;

          p,
          span {
            opacity: $color-alpha;
          }
        }
      }

      &-projects {
        margin-right: 0;
        border-right: none;
        transform: translateX(3px);
      }

      &-tasks {
        margin-left: 0;
        border-left: none;
        transform: translateX(-3px);
      }
    }

    &__input-bar {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;

      form,
      button {
        display: inline-block;
      }

      form {
        height: $unit-default * 1.75;
        padding: 0;
        flex-grow: 10;
        flex-shrink: 0;
        overflow: hidden;

        $smaller-screen-bar: 2.5;

        @include screen-xs {
          height: $unit-default * $smaller-screen-bar;
        }

        @include screen-sm {
          height: $unit-default * $smaller-screen-bar;
        }

        @include screen-md {
          height: $unit-default * $smaller-screen-bar;
        }
      }

      button {
        flex-grow: 0;
        flex-shrink: 0;
      }

      input {
        margin: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-width: unset;
        max-width: unset;
      }
    }
  }
}
