// MIXINS //

@mixin overflow-text-hide {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin set-wh-size ($value) {
  width: $value;
  height: $value;
}

@mixin set-max-wh-size ($value) {
  max-width: $value;
  max-height: $value;
}


@mixin hide-md-down {
  @content

  @include screen-md {
    display: none;
  }

  @include screen-sm {
    display: none;
  }

  @include screen-xs {
    display: none;
  }
}

@mixin hide-md-up {
  @content

  @include screen-md {
    display: none;
  }

  @include screen-lg {
    display: none;
  }

  @include screen-xl {
    display: none;
  }

  @include screen-xxl {
    display: none;
  }
}