// MIXINS //

@mixin overflow-text-hide {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin set-wh-size ($value) {
  width: $value;
  height: $value;
}

@mixin set-max-wh-size ($value) {
  max-width: $value;
  max-height: $value;
}
