// MIXINS //
@import "mixins";

.row {
  &__status {
    @include hide-md-down {
      &-icon {
        text-align: center;
        position: relative;
        z-index: 1;
        width: $unit-default * 1.33;
        max-width: $unit-default * 1.33;

        .icon {
          opacity: 1;
          transition: $transition-default;
        }
      }
    }

    @include screen-lg {
      font-size: $font-size-md;
    }

    &.SHADE {
      .icon {
        opacity: $color-alpha;
      }
    }

    &.HOVER:hover {
      .icon {
        transform-origin: center;
        transform: scale($hover-scale);
      }
    }
  }
}
