// MIXINS //
@import "mixins";

@mixin options-resize ($value) {
  width: $value;
  min-width: $value;
}

.row {
  &__item {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;

    &__line {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: $margin-default * 0.4 0;

      &__mid {
        margin: 0;
        padding: 0;
        flex: auto;
        overflow: hidden;
        position: relative;
        border-style: solid;
        border-width: $border-size;
        border-color: transparent;

        &__content {
          display: flex;
          align-items: center;
          flex-direction: row;
          transition: $transition-default;
          padding: $padding-default;

          @include screen-xs {
            padding: $padding-default * 1.5;
          }

          @include screen-sm {
            padding: $padding-default * 1.25;
          }

          @include screen-md {
            padding: $padding-default * 1.25;
          }

          &-progress {
            word-break: keep-all;
            margin-right: $margin-default;

            @include screen-xs {
              display: none;
            }
            @include screen-sm {
              display: none;
            }
          }

          &-date {
            &-md,
            &-lg,
            &-xl {
              display: none;
              text-align: right;
              word-break: keep-all;
              margin-left: $margin-default;
            }

            &-md {
              @include screen-md {
                display: inline-block;
                min-width: $unit-default * 3;
              }
            }

            &-lg {
              @include screen-lg {
                display: inline-block;
                min-width: $unit-default * 6;
              }
            }

            &-xl {
              @include hide-md-down {
                display: inline-block;
                min-width: $unit-default * 10;
              }
              @include screen-lg {
                display: none;
              }
            }
          }

          &-data {
            flex: auto;
          }
        }

        &__edit {
          display: none;
          position: relative;

          &-input {
            margin: 0;
            width: 100%;
          }
        }

        &-bg {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -5;
          background-color: $color-mid;

          &::after {
            content: "";
            position: absolute;
            left: $unit-default * -1.25;
            top: $unit-default * -1.25;
            width: $unit-default * 2;
            height: $unit-default * 2;
            transform: rotateZ(45deg);
            background-color: transparent;
            transition: $transition-default;
            z-index: 0;
            border-spacing: $border-size;
            border-color: transparent;
            border-style: solid;
          }
        }
      }

      &.COMPLETE & {
        @include show-md-down {
          &__mid-bg::after {
            border-color: rgba($color-shadow, $color-alpha);
            background-color: $color-success;
          }
        }
      }

      &.EDIT & {
        &__mid__content,
        &__mid-bg {
          display: none;
        }

        &__mid__edit {
          display: block;
          margin: $margin-default * 0.1;
        }
      }

      &__option-btn {
        opacity: 1;
        text-align: right;
        min-width: $unit-default * 1.5;

        .OPEN & {
          pointer-events: none;
          opacity: $color-alpha;

          button:focus {
            outline: none;
          }
        }

        button {
          margin: 0;
          text-align: right;
          padding-right: 0;
        }
      }
    }

    &.HOVER & {
      &__line__mid:hover {
        border-color: $color-fore;
      }
    }

    /* stylelint-disable */
    &.SELECT & {
      &__line__mid {
        &:hover {
          border-color: transparent;
        }

        &-bg {
          background-color: $color-select;
        }
      }
    }
    /* stylelint-enable */

    &__status {
      @include hide-md-down {
        &-icon {
          text-align: center;
          position: relative;
          z-index: 1;
          font-size: $font-size-md;
          width: $unit-default;
          max-width: $unit-default;

          .icon {
            opacity: 1;
            transition: $transition-default;
          }
        }
      }

      &.SHADE {
        .icon {
          opacity: $color-alpha;
        }
      }

      &.HOVER:hover {
        .icon {
          transform-origin: center;
          transform: scale($hover-scale);
        }
      }
    }
  }
}
