.status-bar {
  $offPos: -5px;

  position: absolute;
  left: $offPos;
  right: 105%;
  height: 0;
  bottom: $offPos;
  z-index: -1;
  background-color: transparent;
  transition: background-color 0.6s, right 0.6s, height 1s;

  &.top {
    bottom: unset;
    top: $margin-default * -2;
    left: $margin-default * -1.5;
  }

  @each $status, $value in $all-status-colours {
    &.#{to-upper-case($status)} {
      right: $offPos;
      background-color: $value;
      height: $unit-default * 0.7;
      transition: right 0.6s;

      $smallSize: $unit-default * 0.85;
      @include screen-xs {
        height: $smallSize;
      }
      @include screen-sm {
        height: $smallSize;
      }
      @include screen-md {
        height: $smallSize;
      }
      @include screen-lg {
        height: $smallSize;
      }

      &.top {
        right: $margin-default * -1.5;
        $smallSize: $unit-default * 0.5;

        @include screen-xs {
          top: 0;
          height: $smallSize;
        }
        @include screen-sm {
          top: 0;
          height: $smallSize;
        }
        @include screen-md {
          top: -5px;
          height: $smallSize;
        }
      }
    }
  }

  &.WAITING {
    transition: right 6s;
  }

  &.COMPLETE {
    height: 0;
    left: $offPos;
    right: $offPos;
    bottom: $offPos;

    &.top {
      top: $margin-default * -2.2;
      bottom: unset;

      @include screen-xs {
        top: 0;
      }
      @include screen-sm {
        top: 0;
      }
      @include screen-md {
        top: -5px;
      }
    }
  }
}