body {
  overflow-x: hidden;
}

#app {
  margin: $margin-default;

  @include screen-md {
    margin: $margin-default * 0.5;
  }

  @include screen-sm {
    margin: 0 $margin-default * 0.3;
  }

  @include screen-xs {
    margin: 0 $margin-default * 0.3;
  }
}

.show-settings {
  .task__project__header__info {
    margin-right: 0;
  }
}

.task {
  position: relative;

  .settings {
    position: relative;

    &__btn {
      margin: 0;
      padding: 0;
      cursor: pointer;
      position: absolute;
      top: 3px;
      right: 5px;
      z-index: 5;

      &.is-close:focus {
        border-color: transparent;
        outline: none;
      }
    }

    &__fullscreen-click {
      position: fixed;
      top: -2em;
      left: -2em;
      right: -2em;
      bottom: -2em;
      z-index: 3;
      pointer-events: all;
    }

    &__holder {
      color: $color-bg;
      -webkit-text-fill-color: $color-bg;
      background-color: $color-fore;
      padding: $margin-default;
      border-radius: $border-radius;
      position: absolute;
      z-index: 4;
      top: 0;
      right: 0;
      max-width: $unit-default * 15;
      min-width: $unit-default * 15;

      @mixin screen-float {
        position: relative;
        top: $margin-default;
        right: unset;
        min-width: unset;
        max-width: unset;
        margin: 0;
        margin-bottom: $margin-default * 2;
      }

      @include screen-xs {
        @include screen-float;
      }

      @include screen-sm {
        @include screen-float;
      }

      @include screen-md {
        @include screen-float;
      }

      ul {
      }

      .button {
        cursor: pointer;
      }

      a,
      p,
      li,
      .button {
        display: block;
        margin: 0;
        padding: $margin-default * 0.33 0;
        color: $color-bg;
        -webkit-text-fill-color: $color-bg;
        font-weight: bolder;
        text-decoration: none;
      }

      li {
        padding-bottom: $margin-default;
        margin-bottom: $margin-default;
        border-bottom: solid $border-size rgba($color-bg, 0.1);

        &:last-of-type {
          padding-bottom: 0;
          border-bottom: unset;
        }

        &.label {
          margin: 0;
          opacity: 0.7;
          border-bottom: unset;
        }

        &.li-min {
          position: relative;
          width: 100%;

          label {
            display: inline-block;
            min-width: $unit-default * 5;

            &.label-right {
              float: right;
              text-align: right;
            }
          }
        }
      }

      ul {
        a,
        p,
        button {
          margin-left: $margin-default;
        }
      }

      &__sort-item {
        min-width: $unit-default * 5;

        &-left {
          margin-right: auto;
        }

        &-arrow {
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: $unit-default * 0.5;
          transform: translateX(-50%) translateY(-50%) scale(2.5);
        }
      }
    }
  }

  .intro-text {
    button {
      background-color: $color-success;
    }

    ul,
    ol {
      list-style: disc outside;
      margin-left: $margin-default;
      padding-left: $margin-default;
    }

    li {
      margin-bottom: $margin-default * 0.5;
    }

    &__title {
      text-align: center;
      font-size: $font-size-md;
      margin-bottom: $margin-default;
    }

    &__buttons {
      margin-top: $margin-default * 1.6;

      button {
        min-width: $unit-default * 3.5;
      }

      a,
      button {
        margin: $margin-default;
        margin-bottom: 0;
      }
    }
  }

  &.show-toast {
    overflow: hidden;
    max-width: 99vw;
    max-height: 99vh;
  }

  .hint {
    margin: $margin-default;
  }

  &__header,
  &__footer {
    text-align: center;
    margin: $margin-default;
  }

  &__footer {
    color: $color-fore;
    -webkit-text-fill-color: $color-fore;
    padding-top: $unit-default * 5;

    &__content {
      position: relative;

      & > * {
        margin: 0;
        color: $color-fore;
        fill: $color-fore;
      }

      &-version {
        position: absolute;
        top: $unit-default * -1;
        right: $margin-default;

        &,
        & > * {
          margin: 0;
          font-weight: bolder;
          color: $color-mid;
          -webkit-text-fill-color: $color-mid;
        }

        @include lg-up {
          top: 50%;
        }
      }
    }
  }
}
