#app {
  margin: $margin-default;

  @include screen-md {
    margin: $margin-default * 0.5;
  }

  @include screen-sm {
    margin: 0 $margin-default * 0.5;
  }

  @include screen-xs {
    margin: 0 $margin-default * 0.5;
  }
}

.task {
  &__project {
    //&__header {
      //display: flex;
      //flex-wrap: wrap;
      //flex-direction: row;
      //justify-items: center;

      //&-name {
      //  order: 0;
      //}
      //
      //&-count {
      //  order: 1;
      //}
      //
      //&-user {
      //  order: 3;
      //
      //  @mixin small-user {
      //    font-size: $font-size-sm;
      //    max-width: $unit-default * 5;
      //    overflow: hidden;
      //    margin-left: auto;
      //  }
      //
      //  @include screen-xs {
      //    @include small-user;
      //  }
      //  @include screen-sm {
      //    @include small-user;
      //  }
      //  @include screen-md {
      //    @include small-user;
      //  }
      //}
      //
      //&-switch {
      //  order: 4;
      //}
      //
      //&-input {
      //  order: 5;
      //
      //  @mixin small-input {
      //    display: block;
      //    width: 100%;
      //  }
      //
      //  @include screen-xs {
      //    @include small-input;
      //  }
      //  @include screen-sm {
      //    @include small-input;
      //  }
      //  @include screen-md {
      //    @include small-input;
      //  }
      //}
    //}


    &__input-bar {
      display: none;
      max-width: $unit-default * 20;

      form {
        display: flex;
        overflow: hidden;

        input {
          margin: 0;
          flex: auto;
        }
      }
    }

    &__switch {
      min-width: $unit-default * 10;

      &-tasks,
      &-projects {
        margin: $margin-default 0;
        padding: $padding-default;
        text-transform: uppercase;
        background-color: $color-mid;
        color: rgba($color-fore, $color-alpha);
        -webkit-text-fill-color: rgba($color-fore, $color-alpha);
        border: $border-size solid $color-bg;
        border-radius: $border-radius;
        transition: $transition-default * 0.5;

        &.ACTIVE {
          color: rgba($color-shadow, $color-alpha);
          -webkit-text-fill-color: rgba($color-shadow, 1);
          background-color: $color-success;
          border: $border-size solid $color-success;
          outline: none;
          transform: scaleY(1.1);
        }
      }

      &-projects {
        margin-right: 0;
        border-right: none;
        transform-origin: right;
      }

      &-tasks {
        margin-left: 0;
        border-left: none;
        transform-origin: left;
      }
    }

    &__list {
      margin: $margin-default 0;
      max-width: 98vw;

      &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: $margin-default * 0.4 0;

        &-status,
        &-progress,
        &-data,
        &-content,
        &-updated,
        &-option-bar-btn {
          z-index: 1;
          text-align: left;
        }

        &-status {
          opacity: $color-alpha;
          transition: $transition-default;

          @include screen-xs {
            display: none;
          }
          @include screen-sm {
            display: none;
          }
        }

        &-status,
        &-option-bar-btn {
          min-width: $unit-default * 2;

          @mixin options-resize ($value) {
            width: $unit-default * $value;
            min-width: $unit-default * $value;
          }

          @include screen-xs {
            @include options-resize(0.9);
          }

          @include screen-sm {
            @include options-resize(1);
          }

          @include screen-md {
            @include options-resize(1.5);
          }
        }

        &-data {
          flex: auto;
        }

        &-progress,
        &-data {
          margin-right: $margin-default;
        }

        &-progress {
          min-width: max-content;
        }

        &-updated {
          text-align: right;
          min-width: max-content;
        }

        &-content {
          flex: auto;
          z-index: 1;
          display: flex;
          flex-direction: row;
          border-style: solid;
          border-width: $border-size;
          border-color: transparent;
          transition: $transition-default;
          padding: $padding-default * 0.33 $padding-default;
        }

        &-bg {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: -5;
          background-color: $color-mid;
        }

        &-option-bar-btn {
          text-align: right;

          button {
            margin: 0;
            text-align: right;
            padding-right: 0;
          }
        }

        &__edit {
          display: none;
        }

        &.EDIT & {
          &-content {
            display: none;
          }

          &-bg {
            display: none;
          }

          &__edit {
            flex: auto;
            display: block;

            &-input {
              width: 100%;
              margin: 0;
              padding: 0 $padding-default;
            }
          }
        }

        &:hover & {
          &-content {
            border-color: $color-fore;
          }
        }

        &.SELECT & {
          &-status {
            opacity: 1;
          }

          &-bg {
            background-color: $color-select;
          }
        }

        &:hover.SELECT & {
          &-content {
            border-color: transparent;
          }
        }

        &__option-bar {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          min-height: $unit-default * 0.5;
          margin: $margin-default * 0.25 0;

          &-close {
            text-align: right;
          }

          &-edit,
          &-close,
          &-delete,
          &-confirm {
            margin-right: 0;
            margin-left: $margin-default * 3;
          }

          &-confirm {
            @include screen-xs {
              margin-left: $margin-default;

              button {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  &__header,
  &__footer {
    text-align: center;
    margin: $margin-default;
  }

  //.user,
  //.project {
  //  &__info {
  //    &__mini {
  //      //max-width: 95vw;
  //      display: inline-block;
  //
  //      &-title {
  //        overflow: hidden;
  //        white-space: nowrap;
  //        word-break: keep-all;
  //        text-overflow: ellipsis;
  //        //width: 75vw;
  //        margin-right: $margin-default * 0.5;
  //      }
  //
  //      &-name,
  //      &-title,
  //      &-count,
  //      &-icon {
  //        display: inline-block;
  //      }
  //
  //      &-count {
  //        margin: 0;
  //        word-break: keep-all;
  //        font-size: $font-size-md;
  //        width: $unit-default * 4;
  //        max-width: $unit-default * 4;

        //  @mixin small-count {
        //    font-size: $font-size;
        //  }
        //
        //  @include screen-xs {
        //    @include small-count;
        //  }
        //  @include screen-sm {
        //    @include small-count;
        //  }
        //  @include screen-md {
        //    @include small-count;
        //  }
        //}
  //
  //      &-icon {
  //        vertical-align: middle;
  //        max-width: $unit-default * 1.75;
  //      }
  //
  //      &-name {
  //        max-width: $unit-default * 20;
  //        margin-right: $margin-default;
  //        overflow: hidden;
  //        white-space: nowrap;
  //        text-overflow: ellipsis;
  //        word-break: keep-all;
  //
  //        @mixin small-user-name {
  //          font-size: $font-size-sm;
  //          max-width: $unit-default * 2;
  //        }
  //
  //        @include screen-xs {
  //          @include small-user-name;
  //        }
  //        @include screen-sm {
  //          @include small-user-name;
  //        }
  //        @include screen-md {
  //          @include small-user-name;
  //        }
  //      }
  //    }
  //  }
  //}
}
