#app {
  margin: $margin-default;

  @include screen-md {
    margin: $margin-default * 0.5;
  }

  @include screen-sm {
    margin: 0 $margin-default * 0.35;
  }

  @include screen-xs {
    margin: 0 $margin-default * 0.1;
  }
}

.task {
  .hint {
    margin: $margin-default * 2 $margin-default;
  }

  &__project {
    &__list {
      margin: $margin-default 0;
      max-width: 98vw;

      &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: $margin-default * 0.4 0;

        &-status,
        &-progress,
        &-data,
        &-content,
        &-updated,
        &-option-bar-btn {
          z-index: 1;
          text-align: left;
        }

        &-status {
          opacity: $color-alpha;
          transition: $transition-default;
        }

        &.TASK &-status {
          opacity: 1;
        }

        &.COMPLETE &-status {
          opacity: 1;
          fill: $color-status-success;
        }

        @mixin options-resize ($value) {
          width: $unit-default * $value;
          min-width: $unit-default * $value;
        }

        &-status,
        &-option-bar-btn {
          min-width: $unit-default * 2;

          @include screen-xs {
            @include options-resize(0.9);
          }

          @include screen-sm {
            @include options-resize(1);
          }

          @include screen-md {
            @include options-resize(1.5);
          }
        }

        &.TASK & {
          &-status {
            &:hover {
              transform: scale($hover-scale);
            }

            @include screen-xs {
              @include options-resize(1.2);
            }

            @include screen-sm {
              @include options-resize(1.4);
            }

            @include screen-md {
              @include options-resize(1.5);
            }
          }
        }

        &-data {
          flex: auto;
          word-break: break-word;
        }

        &-progress,
        &-data {
          margin-right: $margin-default;
        }

        &-progress {
          min-width: max-content;
        }

        &-updated {
          text-align: right;
          min-width: max-content;
        }

        &-content {
          flex: auto;
          z-index: 1;
          display: flex;
          flex-direction: row;
          border-style: solid;
          border-width: $border-size;
          border-color: transparent;
          transition: $transition-default;
          padding: $padding-default * 0.33 $padding-default;
        }

        &-bg {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: -5;
          background-color: $color-mid;
        }

        &-option-bar-btn {
          text-align: right;

          button {
            margin: 0;
            text-align: right;
            padding-right: 0;
          }
        }

        &__edit {
          display: none;
        }

        &.EDIT & {
          &-content {
            display: none;
          }

          &-bg {
            display: none;
          }

          &__edit {
            flex: auto;
            display: block;

            &-input {
              width: 100%;
              margin: 0;
              padding: 0 $padding-default;
            }
          }
        }

        &:hover & {
          &-content {
            border-color: $color-fore;
          }
        }

        &.SELECT & {
          &-status {
            opacity: 1;
          }

          &-bg {
            background-color: $color-select;
          }
        }

        &:hover.SELECT & {
          &-content {
            border-color: transparent;
          }
        }

        &__option-bar {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          min-height: $unit-default * 0.5;
          margin: $margin-default * 0.25 0;

          &-close {
            text-align: right;
          }

          &-edit,
          &-close,
          &-delete,
          &-confirm {
            margin-right: 0;
            margin-left: $margin-default * 3;
          }

          &-confirm {
            @include screen-xs {
              margin-left: $margin-default;

              button {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  &__header,
  &__footer {
    text-align: center;
    margin: $margin-default;
  }

  &__footer {
    padding-top: $unit-default * 5;
  }
}
