.user {
  &__home {
    position: absolute;
    left: $unit-default;
  }

  &__card {
    overflow: hidden;
    position: relative;
    background-color: $color-mid;

    .status-bar {
      z-index: 5;
    }
  }

  &__form {
    &__accept {
      text-align: right;
      margin-top: $margin-default;

      &-login {
        float: left;
      }

      &-btn {
        background-color: $color-success;
        padding: $padding-default * 0.5 $padding-default;
      }
    }
  }
}
