.user {
  &__home {
    position: absolute;
    left: $unit-default;
  }

  &__card {
    overflow: hidden;
    position: relative;
    background-color: $color-mid;

    p,
    a {
      margin: 0 $margin-default;
    }

    .status-bar {
      z-index: 5;
    }
  }

  &__form {
    label {
      min-height: $unit-default * 2.33;
    }

    &-detail {
      margin-left: $margin-default;
      padding-left: $margin-default;
    }

    &__footer {
      &-login,
      &-create {
        color: $color-fore;
        font-weight: bolder;
      }

      &__edit-btn {
        margin-left: $margin-default;
      }

      &__ok-btn {
        margin-left: auto;
      }

      &__ok-btn,
      &__edit-btn {
        &:focus {
          background-color: $color-select;
        }

        background-color: $color-success;
        padding: $padding-default * 0.5 $padding-default;
      }
    }
  }
}
