//$color-bg: rgb(88, 82, 82);
//$color-button: rgb(88, 82, 82);

$unit-default: 1.05em;
$unit-xs: 0.6;
$unit-sm: 0.75;
$unit-md: 1.33;
$unit-lg: 2;
$unit-xl: 3;

$all-unit-sizes: (
  unit: $unit-default,
  xs: $unit-xs,
  sm: $unit-sm,
  md: $unit-md,
  lg: $unit-lg,
  xl: $unit-xl
);

$font-size: $unit-default;
$font-size-xs: $unit-default * $unit-xs;
$font-size-sm: $unit-default * $unit-sm;
$font-size-md: $unit-default * $unit-md;
$font-size-lg: $unit-default * $unit-lg;
$font-size-xl: $unit-default * $unit-xl;

$all-font-sizes: (
  de: $font-size,
  xs: $font-size-xs,
  sm: $font-size-sm,
  md: $font-size-md,
  lg: $font-size-lg,
  xl: $font-size-xl
);

$icon-size: 1.5em;
$icon-size-xs: $icon-size * $unit-xs;
$icon-size-sm: $icon-size * $unit-sm;
$icon-size-md: $icon-size * $unit-md;
$icon-size-lg: $icon-size * $unit-lg;
$icon-size-xl: $icon-size * $unit-xl;

$all-icon-sizes: (
  de: $icon-size,
  xs: $icon-size-xs,
  sm: $icon-size-sm,
  md: $icon-size-md,
  lg: $icon-size-lg,
  xl: $icon-size-xl
);

$border-size: $unit-default * 0.1;
$border-radius: $unit-default * 0.1;

$form-corner: 0.4em;
$button-corner: 0.4em;
$margin-default: 0.5em;
$padding-default: 0.25em;
$transition-default: 0.3s;

$color-bg: rgb(40, 75, 83);
$color-bg-alt: rgb(38, 64, 59);
$color-shadow: rgb(54, 56, 46);
$color-mid: rgb(113, 117, 96);
$color-success: rgb(154, 212, 125);
$color-warning: rgb(212, 151, 125);
$color-fore: rgb(230, 230, 230);
$color-select: darkgrey;
$color-input: white;
$color-none: #e7e1dd;

$all-colours: (
  bg: $color-bg,
  bg-alt: $color-bg-alt,
  shadow: $color-shadow,
  mid: $color-mid,
  success: $color-success,
  warning: $color-warning,
  fore: $color-fore,
  select: $color-select,
  input: $color-input,
  none: $color-none
);

$all-icon-nums: (
  icon-10: 10%,
  icon-20: 20%,
  icon-30: 30%,
  icon-40: 40%,
  icon-50: 50%,
  icon-60: 60%,
  icon-70: 70%,
  icon-80: 80%,
  icon-90: 90%
);
