//$color-bg: rgb(88, 82, 82);
//$color-button: rgb(88, 82, 82);

$unit-default: 1.02em;
$unit-xs: 0.6;
$unit-sm: 0.75;
$unit-md: 1.33;
$unit-lg: 2;
$unit-xl: 3;

$all-unit-sizes: (
  unit: $unit-default,
  xs: $unit-xs,
  sm: $unit-sm,
  md: $unit-md,
  lg: $unit-lg,
  xl: $unit-xl
);

$font-size: $unit-default;
$font-size-xs: $unit-default * $unit-xs;
$font-size-sm: $unit-default * $unit-sm;
$font-size-md: $unit-default * $unit-md;
$font-size-lg: $unit-default * $unit-lg;
$font-size-xl: $unit-default * $unit-xl;

$all-font-sizes: (
  de: $font-size,
  xs: $font-size-xs,
  sm: $font-size-sm,
  md: $font-size-md,
  lg: $font-size-lg,
  xl: $font-size-xl
);

$icon-size: 1.5em;
$icon-size-xs: $icon-size * $unit-xs;
$icon-size-sm: $icon-size * $unit-sm;
$icon-size-md: $icon-size * $unit-md;
$icon-size-lg: $icon-size * $unit-lg;
$icon-size-xl: $icon-size * $unit-xl;

$all-icon-sizes: (
  de: $icon-size,
  xs: $icon-size-xs,
  sm: $icon-size-sm,
  md: $icon-size-md,
  lg: $icon-size-lg,
  xl: $icon-size-xl
);

$border-size: $unit-default * 0.1;
$border-radius: $unit-default * 0.35;

$form-corner: 0.4em;
$button-corner: 0.4em;
$margin-default: 0.5em;
$padding-default: 0.25em;
$hover-scale: 1.25;
$transition-default: 0.33s;

$color-alpha: 0.3;
$color-bg: rgb(33, 62, 69);
//$color-bg-alt: rgb(80, 107, 115);
$color-shadow: rgb(54, 56, 46);
//$color-mid: rgb(88, 110, 99);
$color-mid: rgb(80, 107, 115);
$color-waiting: rgb(189, 173, 99);
$color-success: rgb(154, 212, 125);
$color-error: rgb(212, 151, 125);
$color-fore: rgb(234, 233, 218);
$color-select: rgb(9, 161, 131);

$color-select-outline: rgb(9, 161, 131);

$color-status-disabled: rgba($color-fore, $color-alpha);
$color-status-waiting: rgb(210, 184, 36);
$color-status-success: rgb(122, 231, 66);
$color-status-error: rgb(226, 73, 73);

$all-status-border-colours: (
  disabled: $color-status-disabled,
  waiting: $color-waiting,
  warning: $color-waiting,
  success: $color-success,
  error: $color-error
);

$all-status-colours: (
  disabled: $color-status-disabled,
  waiting: $color-status-waiting,
  warning: $color-status-waiting,
  success: $color-status-success,
  error: $color-status-error
);

$all-colours: (
  bg: $color-bg,
  //bg-alt: $color-bg-alt,
  shadow: $color-shadow,
  mid: $color-mid,
  success: $color-success,
  error: $color-error,
  waiting: $color-waiting,
  warning: $color-waiting,
  fore: $color-fore,
  select: $color-select,
  disabled: $color-status-disabled,
  disabled-status: $color-status-disabled,
  waiting-status: $color-status-waiting,
  warning-status: $color-status-waiting,
  success-status: $color-status-success,
  error-status: $color-status-error
);

$all-icon-nums: (
  icon-10: 10%,
  icon-20: 20%,
  icon-30: 30%,
  icon-40: 40%,
  icon-50: 50%,
  icon-60: 60%,
  icon-70: 70%,
  icon-80: 80%,
  icon-90: 90%
);

$max-sizes: (
  max-15: 15em,
  max-20: 20em,
  max-25: 25em,
  max-30: 30em,
  max-35: 35em,
  max-40: 40em,
  max-45: 45em,
  max-50: 50em,
  max-55: 55em,
  max-60: 60em
);

$screen-xs: 320px;
$screen-sm: 375px;
$screen-md: 425px;
$screen-lg: 768px;
$screen-xl: 1024px;
//$screen-xxl: 1400px;

$all-screen-sizes: (
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl,
  //xxl: $screen-xxl,
);

@mixin screen-xs {
  @media (max-width: $screen-xs - 1) { @content }
}

@mixin screen-sm {
  @media (min-width: $screen-xs) and (max-width: $screen-sm - 1) { @content }
}

@mixin screen-md {
  @media (min-width: $screen-sm) and (max-width: $screen-md - 1) { @content }
}

@mixin screen-lg {
  @media (min-width: $screen-md) and (max-width: $screen-lg - 1) { @content }
}

@mixin screen-xl {
  @media (min-width: $screen-lg) and (max-width: $screen-xl - 1) { @content }
}

@mixin screen-xxl {
  @media (min-width: $screen-xl) and (max-width: 3000px) { @content }
}
